/*******************************
*                              *
* File      : scroll.css       *
* Update at : 02/10/2018       *
* Update by : CARDINAL Florian *
*                              *
*******************************/

@charset "UTF-8";

::-webkit-scrollbar { height: 100%; width: 5px; }
::-webkit-scrollbar:vertical { height: 100%; width: 8px; }
::-webkit-scrollbar:horizontal { height: 8px; width: 100%; }
::-webkit-scrollbar-track-piece { margin: 5%; }
::-webkit-scrollbar-thumb { border-radius: 50px; }
::-webkit-scrollbar-button { height: 0; }

/******
* END *
******/
