/*******************************
*                              *
* File      : style.css        *
* Update at : 28/09/2018       *
* Update by : CARDINAL Florian *
*                              *
*******************************/

* {
	font-family: Ubuntu, Lato, sans-serif;
	margin: 0; padding: 0;
}

html {
	background: rgba(0, 0, 0, .7);
	color: rgb(0, 255, 255);
	height: 100%; width: 100%;
}

body {
	background: rgba(0, 0, 40, .5);
	height: 100%; width: 100%;
}

.bg {
	background-attachment: fixed;
	background-image: url('../pics/background.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(2px);
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -1;
}

nav {
	background: rgb(0, 0, 40);
	height: 100%;
	position: absolute;
	text-align: center;
	width: 12em;
}

nav img {
	border-radius: 100%;
	cursor: pointer;
	margin: 5px;
	transition: all .15s;
	width: 10em;
}
nav img:hover { background: rgba(255, 255, 255, .1); }

nav ul {
	list-style-type: none;
	padding: 0 10px;
	text-align: left;
}

nav ul li { border-top: 3px solid rgb(0, 58, 59); }

nav ul li a, nav ul li a:visited {
	color: #22BBBB;
	display: inline-block;
	font-size: 20px;
	letter-spacing: 1px;
	padding: 10px 5px;
	text-decoration: none;
	transition: all .15s;
	width: 94.2%;
}
nav ul li a:hover {
	background: rgba(255, 255, 255, .1);
	color: #22DDDD;
	padding-left: 25px;
	text-shadow: 1px 1px 2px #22DDDD;
	width: 82.6%;
}

header {
	background: rgba(0, 0, 40, .7);
	border: 3px solid #CCCCCC;
	border-image: linear-gradient(-90deg, #22CCCC, #CC22CC) 1;
	border-top: 0;
	box-shadow: 0 3px 10px #22CCCC;
	left: 12.5em;
	padding: 20px;
	position: absolute;
	right: .5em;
	z-index: 1;
}

header h1 {
	font-size: 40px;
	font-weight: 100;
	letter-spacing: 2px;
	text-shadow: 1px 1px 10px #22FFFF;
}

section {
	bottom: 0;
	left: 12em;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

section aside {
	background: rgba(0, 0, 0, .5);
	border-radius: 0 0 10px 10px;
	height: auto;
	min-height: 60%;
	margin: 0 20px 40px 20px;
	overflow: auto;
	padding: 50px;
	padding-top: 150px;
}

section aside fieldset {
	background: rgba(0, 0, 0, .5);
	border: 2px solid #22FFFF;
	border-radius: 0 10px 0 10px;
	box-shadow: 1px 1px 2px #333333;
	text-align: center;
}

section aside .infoBox {
	margin: 20px auto;
	width: 30em;
}

section aside .infoBox p {
	font-family: consolas, monospace;
	font-size: 20px;
	margin: 30px;
}
.error { color: #CC2222; }

section aside .login {
	margin: 0 auto 0 auto;
	padding: 4px;
	width: 35em;
}

section aside .login h3 {
	border-bottom: 2px solid #22FFFF;
	font-weight: 100;
	padding-left: 5px;
	text-align: left;
	text-shadow: 1px 1px 4px #22FFFF;
}

section aside .login table { margin: 40px auto 0 auto; }

input {
	background: transparent;
	border: 2px solid #22FFFF;
	border-radius: 50px;
	color: #22FFFF;
	font-size: 16px;
	margin: 10px auto;
	padding: 5px 10px;
	transition: all .2s;
}
input:placeholder-shown { border-color: #CC2222; }
input::placeholder { color: #229999; }

input[type=submit] {
	border-radius: 8px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	margin: 15px auto 20px auto;
	padding: 10px 25px;
}
input[type=submit]:hover {
	background: #22FFFF;
	box-shadow: 0px 0px 30px #00FFFF;
	color: #222222;
	margin: 13px auto 18px auto;
	padding: 12px 30px;
}

footer {
	background: rgba(0, 0, 20, .7);
	border-top: 2px solid #CC22CC;
	bottom: 0;
	box-shadow: 0px -2px 5px #CC22CC;
	color: #CC22CC;
	left: 12.5em;
	padding: 3px 10px;
	position: absolute;
	right: .5em;
	text-shadow: 1px 1px 1px #AA22AA;
	z-index: 1;
}

footer marquee {
	left: 5em;
	position: absolute;
	right: 10px;
	top: 3px;
	width: auto;
}

/******
* END *
******/
