/*******************************
 *                              *
 * File      : style.css        *
 * Update at : 10/10/2018       *
 * Update by : CARDINAL Florian *
 *                              *
 *******************************/

* {
	font-family: Ubuntu, Lato, sans-serif;
	margin: 0; padding: 0;
}

html { height: 100%; width: 100%; }
body { height: 100%; width: 100%; }

.bg {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(2px);
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -1;
}

nav {
	height: 100%;
	overflow: auto;
	position: absolute;
	text-align: center;
	width: 12em;
}

nav div {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 100%;
	cursor: pointer;
	height: 10em;
	margin: 10px auto;
	transition: all .15s;
	width: 10em;
}

nav ul, nav ol {
	list-style-type: none;
	padding: 0 10px;
	text-align: left;
}

nav ol {
	border-radius: 15px;
	left: 12.5em;
	padding: 5px 15px;
	position: fixed;
	top: 17em;
	transition: all .2s;
	width: 11em;
	z-index: 5;
}

nav ol li, nav ul li { border-top: 3px solid; }

nav ol li a, nav ol li a:visited,
nav ul li a, nav ul li a:visited {
	display: inline-block;
	font-size: 20px;
	letter-spacing: 1px;
	padding: 10px 5px;
	text-decoration: none;
	transition: all .15s;
	width: 94.2%;
}
nav ul li a:hover {
	padding-left: 25px;
	width: 82.6%;
}
nav ol li a, nav ol li a:visited { font-size: 16px; }

header {
	animation: gradientShow 8s infinite;
	border: 3px solid;
	border-top: 0;
	left: 12.5em;
	padding: 20px;
	position: absolute;
	right: .5em;
	z-index: 1;
}

header h1 {
	font-size: 40px;
	font-weight: 100;
	letter-spacing: 2px;
}

header #timenow {
	font-size: 20px;
	position: absolute;
	right: 20px;
	top: 20px;
}

section {
	bottom: 0;
	left: 12em;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

section aside {
	border-radius: 0 0 10px 10px;
	height: auto;
	min-height: 60%;
	margin: 0 20px 40px 20px;
	overflow: auto;
	padding: 50px;
	padding-top: 150px;
	position: relative;
}

section aside h2 {
	border-bottom: 1px solid;
	font-size: 30px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

section aside p {
	font-size: 18px;
	line-height: 25px;
	margin: 10px 0;
	padding: 5px 0;
}

section aside table.home {
	border: 2px solid;
	border-bottom: 0;
	border-radius: 0 10px 0 0;
	border-left: 0;
	border-collapse: separate;
	margin: 20px 0;
	min-width: 375px;
	width: 50%;
}

section aside table.home td {
	border-left: 1px solid;
	padding: 5px 10px;
}
section aside #dataLive {
	display: inline-grid;
	width: 100%;
	height: 20em;
}

section aside #dataLive table tr.top { height: 50%; }
section aside #dataLive table tr.bot { height: 50%; }

section aside #dataLive table td{
	text-align: center;
	width:25%;
	height: 100%
}

section aside #dataLive table { border-bottom: 1px solid; }

section aside .carousel {
	display: inline-block;
	height: 33.2em;
	overflow: hidden;
	position: relative;
	width: 100%;
}

section aside .carousel article {
	display: flex;
	height: 100%;
	overflow: auto;
	position: relative;
	width: 100%;
}

section aside .carousel article table {
	border: 2px solid;
	border-bottom: 0;
	border-left: 0;
	border-radius: 0 10px 0 0;
}

section aside .carousel article table th {
	border: 1px solid;
	border-right: 0;
	border-top: 0;
	padding: 2px 5px;
}

section aside .carousel article table td {
	border-left: 1px dotted;
	padding: 2px 5px;
}

section aside .carousel .table,
section aside .carousel .graph {
	display: inline-grid;
	height: 100%;
	width: 50%;
}
section aside .carousel .graph .statgraph { height: 75%; margin: auto 0; }
section aside .carousel #main { display: inline-grid; }

svg circle { stroke-width: 2; }

section aside fieldset {
	border: 2px solid;
	border-radius: 0 10px 0 10px;
	margin: 0 auto;
	padding: 4px;
	text-align: center;
}

section aside fieldset h3 {
	border-bottom: 2px solid;
	font-weight: 100;
	padding-left: 5px;
	text-align: left;
}

section aside fieldset table { margin: 40px auto 0 auto; }

section aside .infoBox {
	margin: 20px auto;
	width: 30em;
}

section aside .infoBox p {
	font-family: consolas, monospace;
	font-size: 20px;
	margin: 30px;
}

section aside .login { width: 35em; }
section aside .download { width: 40em; }

section aside .download a {
	border: 2px solid;
	border-radius: 8px;
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin: 45px auto 40px auto;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .2s all;
	width: 10em;
}
section aside .download a:hover {
	margin: 40px auto 35px auto;
	padding: 15px 35px;
}

textarea, input {
	background: transparent;
	border: 2px solid;
	border-radius: 50px;
	font-size: 16px;
	margin: 10px auto;
	padding: 5px 10px;
	transition: all .2s;
}

input[type=submit] {
	border-radius: 8px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	margin: 15px auto 20px auto;
	padding: 10px 25px;
	text-transform: uppercase;
}
input[type=submit]:hover {
	margin: 13px auto 18px auto;
	padding: 12px 30px;
}

textarea {
	border-radius: 12px;
	height: 9em;
	resize: none;
	width: 95%;
}

footer {
	border-top: 2px solid;
	bottom: 0;
	left: 12.5em;
	padding: 3px 10px;
	position: absolute;
	right: .5em;
	z-index: 1;
}

footer marquee {
	left: 5em;
	position: absolute;
	right: 10px;
	top: 3px;
	width: auto;
}

/******
 * END *
 ******/
